# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [5]:
import pandas as pd
import numpy as np
import scipy.stats as st
from statsmodels.stats import weightstats as smw

# ── Challenge 1: Pokémon Hypothesis Tests ──────────────────────────────────────

# Load data
url_poke = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv"
df = pd.read_csv(url_poke)

# 1.1 Dragon vs Grass HP: One-sided Two-Sample t-Test
hp_dragon = df.loc[df['Type 1']=='Dragon', 'HP']
hp_grass  = df.loc[df['Type 1']=='Grass',  'HP']

# Test assumptions: roughly normal? n>30 so t-test is robust.
# H0: μ_dragon ≤ μ_grass   vs   H1: μ_dragon > μ_grass
t_stat, p_val = st.ttest_ind(hp_dragon, hp_grass, equal_var=False, alternative='greater')
print("Dragon vs Grass HP:")
print(f" t = {t_stat:.3f}, p = {p_val:.4f}")
if p_val < 0.05:
    print(" → Reject H₀: Dragon types have significantly higher HP (α=0.05)\n")
else:
    print(" → Fail to reject H₀: no evidence Dragon HP > Grass HP (α=0.05)\n")

Dragon vs Grass HP:
 t = 3.335, p = 0.0008
 → Reject H₀: Dragon types have significantly higher HP (α=0.05)

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [6]:
# 1.2 Legendary vs Non-Legendary overall stats: Paired comparisons
stats_cols = ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']
leg = df[df['Legendary']==True]
non = df[df['Legendary']==False]

print("Legendary vs Non-Legendary Stats (two-sample t-tests):")
for col in stats_cols:
    x1 = leg[col].dropna()
    x2 = non[col].dropna()
    t, p = st.ttest_ind(x1, x2, equal_var=False)
    sig = "✓" if p<0.05 else "✗"
    print(f" {col:7s}: t = {t:6.2f}, p = {p:5.3f}  {sig}")
print("✓ indicates significant difference at α=0.05\n")


# ── Challenge 2: California Housing Test ────────────────────────────────────────

# Load data
url_ca = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv"
dfc = pd.read_csv(url_ca)

# 2.1 Compute Euclidean distances
school = np.array([-118, 34])
hospital = np.array([-122, 37])

coords = dfc[['longitude','latitude']].values
dist_school   = np.linalg.norm(coords - school,   axis=1)
dist_hospital = np.linalg.norm(coords - hospital, axis=1)

# Flag “close” if within 0.5 degrees (~0.5 units)
dfc['close_any'] = ((dist_school < 0.5) | (dist_hospital < 0.5))

# 2.2 Compare median_house_value for close vs far: Two-sample t-test
close_vals = dfc.loc[dfc['close_any'], 'median_house_value']
far_vals   = dfc.loc[~dfc['close_any'], 'median_house_value']

# H0: μ_close = μ_far    vs    H1: μ_close > μ_far
t2, p2 = st.ttest_ind(close_vals, far_vals, equal_var=False, alternative='greater')

print("Housing near school/hospital vs far apart:")
print(f" t = {t2:.3f}, p = {p2:.4f}")
if p2 < 0.05:
    print(" → Reject H₀: Close houses have significantly higher value (α=0.05)")
else:
    print(" → Fail to reject H₀: no evidence close > far at α=0.05")

Legendary vs Non-Legendary Stats (two-sample t-tests):
 HP     : t =   8.98, p = 0.000  ✓
 Attack : t =  10.44, p = 0.000  ✓
 Defense: t =   7.64, p = 0.000  ✓
 Sp. Atk: t =  13.42, p = 0.000  ✓
 Sp. Def: t =  10.02, p = 0.000  ✓
 Speed  : t =  11.48, p = 0.000  ✓
✓ indicates significant difference at α=0.05

Housing near school/hospital vs far apart:
 t = 37.992, p = 0.0000
 → Reject H₀: Close houses have significantly higher value (α=0.05)